<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylehome.css">
    <title>Bee Bank</title>
</head>
<body>
    <div class="container">
        <div class="top">

        </div>
        <div class="header">
            <div class="header-left">
                <a href="/home"><img src="./images/bee.png" alt="x"></a>
                <p><a href="/home">Bee<p>Bank</p></a></p>
            </div>
            <div class="header-mid">
                <a href="/default">Set Default Account</a>
                <a href="/payment">Payment</a>
                <a href="/terminal">Terminal</a>
                <a href="/transfer">Transfer</a>
            </div>
            <div class="header-right">
                <div class="header-right-link">
                    <a href="/register">Sign Up</a>
                </div>
                <div class="header-right-bttn">
                    <a href="/login"><button class="header-right-bttn-r">Login</button></a>
                </div>
            </div>
        </div>

        <div class="welcome">
            <div class="welcome-header">
                <img src="./images/tik.png" alt="x">
                <span>No LLC Required, No Credit Check.</span>
            </div>
            <div class="welcome-main">
                <div class="welcome-main-left">
                    <p> Welcome to BeeBank Empowering Your <span>Financial Journey</span></p>
                    <h4>At BeeBank, our mission is to provide comprehensive banking solutions that empower individuals and businesses to achieve their financial goals. We are committed to delivering personalized and innovative services that prioritize our customers' needs.</h4>
                    <div class="welcome-main-left-bttn">
                        <a href="/default"><button class="welcome-main-left-bttn-r">Choose Account</button></a>
                    </div>

                </div>
                <div class="welcome-main-right">
                    <img src="./images/logo.png" alt="logo">
                </div>
            </div>
        </div>

        <div class="products">
            <div class="products-header">
                    <p>Our <span>Products</span></p>
                    <h3>Discover a range of comprehensive and customizable banking products at BeeBank, designed to suit your unique financial needs and aspirations</h3>
            </div>
            <div class="products-main">
                <div class="products-main-d">
                    <div class="products-main-d_img">
                        <img src="./images/briefcase.fill.png" alt="canta">
                    </div>

                    <p>Checking Accounts</p>
                    <h4>Enjoy easy and convenient access to your funds with our range of checking account options. Benefit from features such as online and mobile banking, debit cards, and free ATM access.</h4>
                </div>
                <div class="products-main-d">
                    <div class="products-main-d_img">
                        <img src="./images/Icon.png" alt="indir">
                    </div>

                    <p>Savings Accounts</p>
                    <h4>Build your savings with our competitive interest rates and flexible savings account options. Whether you're saving for a specific goal or want to grow your wealth over time, we have the right account for you.</h4>
                </div>
                <div class="products-main-e">
                    <div class="products-main-d_img">
                        <img src="./images/Icon-1.png" alt="nem">
                    </div>

                    <p>Loans and Mortgages</p>
                    <h4>Realize your dreams with our flexible loan and mortgage options. From personal loans to home mortgages, our experienced loan officers are here to guide you through the application process and help you secure the funds you need.</h4>
                </div>
            </div>
        </div>

        <div class="ask">
            <div class="ask-header">
                <p><span>Frequently</span> Asked Questions</p>
            </div>
            <div class="ask-ques">
                <div class="ask-ques-dir">

                    <div class="ask-ques-dir-d">
                        <p>How do I open an account with BeeBank</p>
                        <h3>Opening an account with BeeBank is easy. Simply visit our website and click on the "Open an Account" button. Follow the prompts, provide the required information, and complete the application process. If you have any questions or need assistance, our customer support team is available to help.</h3>
                    </div>

                    <div class="ask-ques-dir-d">
                        <p>What documents do I need to provide to apply for a loan?</p>
                        <h3>The documents required for a loan application may vary depending on the type of loan you are applying for. Generally, you will need to provide identification documents (such as a passport or driver's license), proof of income (such as pay stubs or tax returns), and information about the collateral (if applicable). Our loan officers will guide you through the specific requirements during the application process.</h3>
                    </div>

                </div>

                <div class="ask-ques-dir">
                    <div class="ask-ques-dir-d">
                        <p>How can I access my accounts online?</p>
                        <h3>Accessing your accounts online is simple and secure. Visit our website and click on the "Login" button. Enter your username and password to access your accounts. If you haven't registered for online banking, click on the "Enroll Now" button and follow the registration process. If you need assistance, our customer support team is available to guide you.</h3>
                    </div>

                    <div class="ask-ques-dir-d">
                        <p>Are my transactions and personal information secure?</p>
                        <h3>At BeeBank, we prioritize the security of your transactions and personal information. We employ industry-leading encryption and multi-factor authentication to ensure that your data is protected. Additionally, we regularly update our security measures to stay ahead of emerging threats. You can bank with confidence knowing that we have robust security systems in place.</h3>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-top">
                <div class="footer-top-t">
                    <img src="./images/bee.png" alt="">
                    <span>Bee<span>Bank</span></span>
                </div>
                <div class="footer-top-b">
                    <a href="/default">Set Card</a>
                    <a href="/payment">Payment</a>
                    <a href="/terminal">Terminal</a>
                    <a href="/transfer">Transfer</a>
                </div>
            </div>
            <div class="footer-mid">
                <div class="footer-mid-d">
                    <img src="./images/message.png" alt="message">
                    <span>beebank@bee.com</span>
                </div>
                <div class="footer-mid-d">
                    <img src="./images/tel.png" alt="tel">
                    <span>+994 994 99 44</span>
                </div>
                <div class="footer-mid-d">
                    <img src="./images/loc.png" alt="location">
                    <span>Feridin Evi</span>
                </div>
                
            </div>
            <div class="footer-bot">
                <div class="footer-bot-left">
                    <div class="footer-bot-left_img">
                        <img src="./images/face.png" alt="facebook">                     
                    </div>
                    <div class="footer-bot-left_img"> 
                        <img src="./images/linkedln.png" alt="linkedln"> 
                    </div>
                    <div class="footer-bot-left_img">
                        <img src="./images/twitter.png" alt="twitter">
                    </div>



                </div>
                <div class="footer-bot-mid">
                    <p>BeeBank All Rights Reserved</p>
                </div>
                <div class="footer-bot-right">
                    <p>Privacy Policy</p>
                    <h3>Terms of Service</h3>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var isLoggedIn = JSON.parse(xhr.responseText);
                var headerRightBttn = document.querySelector(".header-right-bttn");

                if (isLoggedIn) {
                    headerRightBttn.innerHTML = '<a href="/logout"><button class="header-right-bttn-r">Logout</button></a>';
                } else {
                    headerRightBttn.innerHTML =
                        '<div class="header-right-bttn"><a href="/login"><button class="header-right-bttn-r">Login</button></a></div>';
                }
            }
        };

        xhr.open("GET", "/checkLoginStatus", true);
        xhr.send();
    });
</script>
</html>
